<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
    <link rel="stylesheet" href="/styles/cart.css">
</head>
<body>  
    <div class="cartHeader">
        <div id="logo">
            <img src="/images/logoM.png">
        </div>
        <div id="banner">
            <img src="/images/banner.png">
        </div>
    </div>
    <div class="cartBodyHeader">
        <div id="textKosarica">Košarica</div>
        <div id="kosarica">Naziv proizvoda i količina</div>
        <hr id="break">  
        <div id="proizvodi"></div>
    </div>
    <a href="/"> HOMEPAGE</a>
</body>
<script src="./scripts/data.js"></script>
<script src="./scripts/cart.js"></script>
</html>
