@media screen and (width >= 1024px) {
    .header{
        border-style: solid;
        width: 95vw;
        height: 20vh;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .logo{
        border-right: solid;
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #logoimg{

        height: 80%;
        width: 45%;
        
        
    }
    .kategorija
    {
        height: 100%;
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icons{ 
        height: 100%;
        width: 15%;
        padding-left: 2.5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-left: solid ;

    }
    #shopkart{
        height: 50%;
        width: 50%;
    }
    #povecalo>img,#shopkart > img{
        height: 90%;
        width: 90%;
    }
    #povecalo{
        height: 50%;
        width: 50%;
    }
    .tijelo{
        height: 100vh;
        width: 95vw;
        display: flex;
        flex-direction: row;
        flex-flow: row;
        flex-wrap: wrap;
    }
    #kategorije{
        margin: 1%;
        order: -1;
        height: 60%;
        width: 12.5%;
        border-style: solid;
    }
    .slika{
        border-style: solid;
        margin: 1%;
        order: 0;
        height: 50%;
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .bannerText{
        order: 0;
        width: 90%;
        height: 20%;
    }
    #slikaD{
        order: 1;
        width: 90%;
        justify-content: center;
        align-items: center;
        height: 70% ;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #slikaD>img{
        height: 125%;
        width: 62%;
        transform: translateY(-10%);
    }

    .kontakt{
        border-style: solid;
        margin: 1%;
        order: 1;
        height: 35%;
        width: 12.5%;
    }

    .proizvodi{
        order: 2;
        margin: 1%;
        border-style: solid;
        width: 80%;
        height: 60%;
        transform: translateY(-20%);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }

    .proizvod{
        border-style: solid;
        height: 35%;
        width: 20%;
        margin: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .proizvod>img{
        height: 90%;
    }
    .proizvod>p{
        height: 2%;
        margin: 5%;
    }
    
    .cartHover{
        display: none;
        position: absolute;
        transform: translateY(135%) translateX(25%);
        height: 20%;
        width: 20%;
    }
    .cartHover>img{
        height: 100%;
        width: 50%;
    }
    
    .numOfItem{
        position: absolute;
        display: none;
        bottom: -5px;
        right: -15px;
        background-color: lightcoral;
        border-color: red;
        border: solid red;
        border-radius: 50%;
        padding: 0px 12px;
        opacity: 90%;
    }
    #num{
        font-weight: bold;
        opacity: 100%;
        font-size: 11px;
    }

}